@model CAAMarketing.Models.Inventory

@{
    ViewData["Title"] = "Recover"  ;
}

<div class="delete">
<h1>Are you sure you want to Recover <u>@Html.DisplayFor(model => model.Item.Name)</u> ?</h1>
<div>
    <h4>Item Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Supplier)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Supplier.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Item.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Item.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location.Name)
        </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Location)
            </dt>
            <dd class="col-sm-10">
                    @foreach (var c in Model.Item.ItemLocations)
                    {
                        @c.Location.Name <br />
                    }
            </dd>

    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit"  title="Click this to go to recover the item" value="Recover" class="btn-submit"/> |
         <div class="tooltip"> <a asp-action="Index"> <img src="~/images/icons8-go-back-24.png" alt="Back Icon" /> <span class="tooltiptext">Back</span></a> </div>
    </form>
           
</div>
</div>