@model IEnumerable<CAAMarketing.Models.Inventory>

@{
    ViewData["Title"] = "Index";
}

<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />

    <div class="form-horizontal">
        <button class="btn btn-filter"  type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" title="Click this to filter/search">
            <i class="material-icons">Filter/Search</i>
        </button>
    </div>
    <div class="collapse @(ViewData["Filtering"])" id="collapseFilter">
        <div class="card card-body">
            <div class="row">
                <div class="form-group col-md-4">
                    <label class="control-label">Filter by Location:</label>
                    @Html.DropDownList("LocationID", null, "All Locations", htmlAttributes: new { @class = "form-control" })
                </div>
                @*                            <div class="form-group">
                <label class="control-label">Check Low Quantity Items:</label>
                @Html.CheckBox("LowQty", null)
                </div>*@

                <div class="form-group col-md-4">
                    <label class="control-label">Search Item Name OR UPC:</label>
                    @Html.TextBox("SearchString", null, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-4 align-self-end">
                    <input type="submit" name="actionButton" title="Click here to filter" value="Filter" class="btn btn-outline-primary btn-color" />
                    <a asp-action="Index" title="Click here to clear the filter " class="btn btn-outline-dark">Clear</a>
                </div>
            </div>
        </div>
    </div>




    @*@if (ViewBag.InventoryLow != null)
    {
    <script>
    alert("@ViewBag.InventoryLow");
    </script>
    }*@

    <div class="container-fluid">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title d-flex justify-content-between align-items-center">
                    <h2>Archived Items</h2>
                    @*<div class="col-xs-7">
                    <a asp-action="Create" title="Click this to create new receive" class="btn btn-primary">
                    <i class="material-icons">&#xE147;</i>
                    <span>Create a Receive</span>
                    </a>
                    </div>*@
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Item Image :</th>
                            <th>
                                <input type="submit" name="actionButton" value="Item" title="Click here to sort by items" class="btn btn-link" />
                            </th>
                            <th>
                                <input type="submit" name="actionButton" value="UPC" title="Click here to sort by UPC" class="btn btn-link" />
                            </th>
                            <th>
                                <input type="submit" name="actionButton" value="Location" title="Click here to sort by Locations" class="btn btn-link" />
                            </th>
                            <th>
                                <input type="submit" name="actionButton" value="Quantity" title="Click here to sort by Quantity" class="btn btn-link" />
                            </th>
                            <th>
@*                                <input type="submit" name="actionButton" value="Cost" title="Click here to sort by Cost" class="btn btn-link" />
*@                                @Html.DisplayNameFor(model => model.Cost)
                            </th>
                            @*<th>
                            <input type="submit" name="actionButton" value="DateRecieved" class="btn btn-link" />
                            </th>*@
                            <th>
                                <input type="submit" name="actionButton" value="Employee" title="Click here to sort by Employees" class="btn btn-link" />
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Item.Archived)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var inventory in Model)
                        {
                            <tr>
                                <td>
                                    @{
                                        if (inventory.Item.ItemThumbNail?.Content != null)
                                        {
                                            string imageBase64 = Convert.ToBase64String(inventory.Item.ItemThumbNail.Content);
                                            string imageSrc = string.Format("data:" + inventory.Item.ItemThumbNail.MimeType + ";base64,{0}", imageBase64);
                                                        <img src="@imageSrc" alt="Item Picture of @inventory.Item.Name" title="Item Picture of @inventory.Item.Name" class="img-fluid avatar" />
                                        }
                                        else
                                            { 
                                         @:<div>
                                             <img src="~/images/image-not-found_tm.png" alt="Image not found" title="Image not found" class="img-fluid avatar" />
                                            @:</div>
                                            }
                                    }
                                    </td>
                                <td>
                                    @Html.DisplayFor(modelItem => inventory.Item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => inventory.Item.UPC)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => inventory.Location.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => inventory.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => inventory.Cost)
                                </td>
                                @*<td>
                            @Html.DisplayFor(modelItem => inventory.Item.DateReceived)
                            </td>*@
                                <td>
                                    @Html.DisplayFor(modelItem => inventory.Item.Employee.FullName)
                                </td>
                                <td>
                                    @if (inventory.Item.Archived)
                                    {
                                        <span style="color: green;">&#10003;</span>
                                    }
                                </td>



                                <td>

                                    <a asp-controller="Archives" asp-action="Delete" title="Click this to recover" asp-route-id="@inventory.Item.ID">Recover</a>
                                    @*<div class="tooltip"> <a asp-action="Recover" asp-route-id="@inventory.Id"> <img src="~/images/icons-recover-24.png" alt="Edit Icon" /> <span class="tooltiptext">Recover</span></a> </div>*@
                                    @* <a asp-action="Details" title="Click this to go to details" class="padding-for-actions" asp-route-id="@inventory.Item.ID">Details</a>*@
                                    @*<div class="tooltip"><a asp-controller="Items" asp-action="Delete" asp-route-id="@inventory.Item.ID"><img src="~/images/icons8-trash-24.png" alt="Trash Can Icon" /> <span class="tooltiptext">Delete</span></a></div>*@
                                    @*<div class="tooltip"> <a asp-action="Delete" asp-route-id="@inventory.Id"> <img src="~/images/icons8-trash-24.png" alt="Trash Can Icon" /> <span class="tooltiptext">Delete</span></a> </div>*@

                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <partial name="_PagingNavBar" />
    </div>

</form>




