@model CAAMarketing.Models.Item

@{
    ViewData["Title"] = "Details";
}

<div class="cont">

    <div class="deimage">
        @{
            if (Model.ItemImages?.Content != null)
            {
                @:<div><br/>
                    string imageBase64 = Convert.ToBase64String(Model.ItemImages.Content);
                    string imageSrc = string.Format("data:" + Model.ItemImages.MimeType + ";base64,{0}", imageBase64);
                    <img src="@imageSrc" alt="Item Picture of @Model.Name" title="Item Picture of @Model.Name" class="img-fluid rounded" /><br/>
                @:</div><br/>
            }
            else
            {
                @:<div><br/>
                    <img src="~/images/image-not-found .png" alt="Image not found" title="Image not found" class="img-fluid rounded" />
                @:</div><br/>
            }
        }
    </div>
    <div class="detext">
        <h1 >Details</h1>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Notes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Notes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UPC)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UPC)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateReceived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateReceived)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Supplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Supplier.Name)
        </dd>
        <dt class = "col-sm-2">
            Employee
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.FullName)
        </dd>
        <dt class = "col-sm-2">
            Last Modified By
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EmployeeNameUser)
        </dd>

    </dl>
        <div class="tooltip"> <a asp-action="Edit" asp-route-id="@Model.ID" > <img src="~/images/icons8-edit-24.png" alt="Edit Icon"/> <span class="tooltiptext">Edit</span></a> </div> |
        <div class="tooltip"> <a asp-controller="Inventories" asp-action="Index" asp-route-id="@Model.ID" > <img src="~/images/icons8-go-back-24.png" alt="Back Icon"/> <span class="tooltiptext">Back</span></a> </div>

    </div>
</div>
