@model CAAMarketing.Models.Item
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Edit";
}
<p>The Locations are: @{HttpContextAccessor.HttpContext.Session.GetString("EditedLocations");} @ViewData["EditedLocations"] </p>
<p> The amount are: @{HttpContextAccessor.HttpContext.Session.GetString("EditCount");} @ViewData["count"]</p>
<div class="cont">
    <div class="deimage">
    <h3>Edit:(@Model.Name)</h3>

        @{
            var hasPicture = (Model.ItemImages?.Content != null);
            if (hasPicture)
                {
                    @:<div>
                        string imageBase64 = Convert.ToBase64String(Model.ItemImages.Content);
                        string imageSrc = string.Format("data:" + Model.ItemImages.MimeType + ";base64,{0}", imageBase64);
                        <img src="@imageSrc" alt="Item Picture of @Model.Name" title="Item Picture of @Model.Name" class="img-fluid rounded" />
                    @:</div>
                }
            else
                    {
                        @:<div><br/>
                            <img src="~/images/image-not-found .png" alt="Image not found" title="Image not found" class="img-fluid rounded" />
                        @:</div><br/>
                    }
            }
            @{
                if (hasPicture)
                    {
                        <div class="row">
                            <div class="form-check m-3">
                                <input class="form-check-input" type="checkbox" id="chkRemoveImage" name="chkRemoveImage">
                                <label class="form-check-label" for="chkRemoveImage">
                                <strong>Check to remove Image</strong>
                                </label>
                            </div>
                        </div>
                    }
            }
    </div>
    <div class="roe">
        <div class="col-md-12">
            <partial name="_addSupplierModal" />
            <partial name="_addCategoryModal" />
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ID" />
                <input type="hidden" asp-for="RowVersion" />

                <div class="cols">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="cols">
                    <label asp-for="Description" class="control-label"></label>
                    <textarea asp-for="Description" class="form-control"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div> 
                 <div class="cols">
  <label class="control-label">Choose Supplier</label>
  <div class="input-group">
    <select asp-for="SupplierID" class="form-control" asp-items="ViewBag.SupplierID">
      <option value="">None</option>
    </select>
    <button class="btn btn-plus" id="nowAddSupplier" title="Add Supplier" data-bs-toggle="modal" data-bs-target="#addSupplierModal" type="button"></button>
  </div>
</div>
                    <div class="cols">
                   <label class="control-label">Choose Category</label>
                    <div class="input-group">
                        <select asp-for="CategoryID" class="form-control" asp-items="ViewBag.CategoryID">
                         <option value="">None</option>
                            </select>
                                <button class="btn btn-plus" id="nowAddCategory" title="Add Category" data-bs-toggle="modal" data-bs-target="#addCategoryModal" type="button"></button>
                        </div>
                    </div>
                <div class="cols">
                    <label asp-for="UPC" class="control-label"></label>
                    <input asp-for="UPC" class="form-control" />
                    <span asp-validation-for="UPC" class="text-danger"></span>
                </div>
                <div class="cols">
                    <label asp-for="DateReceived" class="control-label"></label>
                    <input asp-for="DateReceived" class="form-control" />
                    <span asp-validation-for="DateReceived" class="text-danger"></span>
                </div>
                <div class="cols">
                    <label asp-for="Cost" class="control-label"></label>
                    <input asp-for="Cost" class="form-control" />
                    <span asp-validation-for="Cost" class="text-danger"></span>
                </div>
                
                <div class="cols">
                    <label asp-for="Quantity" class="control-label"></label>
                    <input asp-for="Quantity" class="form-control" />
                    <span asp-validation-for="Quantity" class="text-danger"></span>
                </div>
                <h1></h1>
                <div class="cols">
                    <label class="control-label custom-file-label">Picture File:</label>
                            <div class="input-group mb-3">
                                <input type="file" class="form-control" name="thePicture" id="thePicture">
                            </div>
                    </div>

                    <div class="cols">
                    <label asp-for="Notes" class="control-label"></label>
                    <textarea asp-for="Notes" class="form-control"></textarea>
                    <span asp-validation-for="Notes" class="text-danger"></span>
                </div>

                @{
                    int[] LocationID = { };
                }
                @foreach (var inventory in Model.Inventories)
                {
                    LocationID.Append(inventory.LocationID);
                    <div class="form-group">
                    <table>
                        <tr>

                            <tr>
                                <label for="quantity_@inventory.LocationID" class="control-label">@inventory.Location.Name</label>
                                <input type="checkbox" name="selectedOptions") />
                            </tr>
                            <td>

                                    <input type="text" class="form-control" id="quantity_@inventory.LocationID" name="quantity_@inventory.LocationID" value="@inventory.Quantity" />
                                
                            </td>

                        </tr>

                    </table>
                    </div>
                    
                }




                <div class="form-group">
                <label class="control-label">@Html.DisplayNameFor(model => model.ItemLocations)</label>
                <div class="m-2">
                    <table>
                        <tr>
                            @{
                                int cnt = 0;
                                List<CAAMarketing.ViewModels.CheckOptionsManyToManyVM> checkboxes = ViewBag.LocationOptions;
                                foreach (var checkbox in checkboxes)
                                {
                                    if (cnt++ % 1 == 0)
                                    {
                                    @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectedOptions"
                                               value="@checkbox.ID"
                                               @(Html.Raw(checkbox.Assigned ? "checked=\"checked\"" : "")) />
                                        @checkbox.DisplayText @:&nbsp;&nbsp;
                                        <input type="number"
                                           name="quantity_@checkbox.ID"
                                           value="0"
                                           min="0"
                                           max="1000" />
                                    @:</td>
                                }
                            @:</tr>
                            }
                        </table>
                    </div>
                </div>


                <div class="cols">
                   @* <label for="sub" >Buttons </label>*@<br/>
                    <input type="submit" value="Save" title="Click here to save the changes" class="btn btn-primary" id="sub"/>

                    <div class="tooltip"> <a href='@ViewData["returnURL"]' title="Back" class="padding-for-actions div-back" > <img src="~/images/icons8-go-back-24.png" alt="Back Icon"/> <span class="tooltiptext">Back</span></a> </div>

                </div>
            </form>
        </div>
    </div>
</div>


<style>
.input-group {
  display: flex;
  align-items: center;
}
</style>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/refreshDDL.js"></script>
    <script type="text/javascript">
        $('#submitCategoryCreate').click(function (event) {
            event.preventDefault();
            var form = $('#createCategoryForm');
            if (form.valid()) {
                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function () {
                        $('#addCategoryModal').modal('hide');
                    },
                    error: function () {
                        alert("Create Failed.  There was a problem adding the record.");
                    }
                });
            }
            return false;
        });
        $('#addCategoryModal').on('hide.bs.modal', function () {
            $('#createCategoryForm').find("input[type=text], textarea, select").val("");//to clear the data in the popup
            refreshDDL('CategoryID', '/Items/GetCategories', false, null, true, 'None', true);
        });
    </script>

    <script type="text/javascript">
        $('#submitSupplierCreate').click(function (event) {
            event.preventDefault();
            var form = $('#createSupplierForm');
            if (form.valid()) {
                $.ajax({
                    type: "POST",
                    url: form.attr('action'),
                    data: form.serialize(),
                    success: function () {
                        $('#addSupplierModal').modal('hide');
                    },
                    error: function () {
                        alert("Create Failed.  There was a problem adding the record.");
                    }
                });
            }
            return false;
        });
        $('#addSupplierModal').on('hide.bs.modal', function () {
            $('#createSupplierForm').find("input[type=text], textarea, select").val("");//to clear the data in the popup
            refreshDDL('SupplierID', '/Items/GetSuppliers', false, null, true, 'None', true);
        });
    </script>
}
