@model IEnumerable<CAAMarketing.Models.ItemReservation>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>

<title>Index</title>

<p>
    
    <a asp-action="Index" asp-controller="Inventories" title="Click here to go back to the Inventory page" class="btn btn-primary btn-color-Create">Back to Inventory</a>
    <a asp-action="Create" title="Click here to create a new Reservation" class="btn btn-primary btn-color-Create">Create New Item</a>
</p>
<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />

    <div class="form-horizontal">
        <button class="btn btn-filter" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" title="Click this to filter/search">
            <i class="material-icons">Filter/Search</i>
        </button>
        </div>
        <div class="collapse @(ViewData["Filtering"])" id="collapseFilter">
            <div class="card card-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Filter by Event: (Ctrl + click to multiselect)</label>
                        @Html.ListBox("EventID", null, htmlAttributes: new { @class = "form-control", @size = 8 })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Search Item:</label>
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4 align-self-end"> 
                        <input type="submit" name="actionButton" value="Filter" title="click here to filter" class="btn btn-outline-primary btn-color" />
                        <a asp-action="Index" title="Click here to clear the filter" class="btn btn-outline-dark">Clear</a>
                    </div>
                </div>
            </div>
        </div>


    <div class="container-fluid ">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title d-flex justify-content-between align-items-center">
                    <h1>Item Reservations</h1>
                </div>
                <table class="table table-hover">
                    <thead class="thead-light">
            <tr>
                <th>
                    <input type="submit" name="actionButton" value="Event" title="click here to sort by Events" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Item" title="click here to sort by Items" class="btn btn-link" />
                </th>
                <th>
                    <input type="submit" name="actionButton" value="Quantity" title="click here to sort by Quantity" class="btn btn-link" />
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReservedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ReturnDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Event.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReservedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReturnDate)
                    </td>
                    <td>
                                    <a asp-action="Delete" title="Click this to log back in the event" class="padding-for-actions" asp-route-id="@item.Id">Log Back In</a>
                        @if (!item.ReturnDate.HasValue)
                        {
                            <form asp-action="LogBackIn" asp-route-id="@item.Id" method="post" onsubmit="return confirm('Are you sure you want to log this item back in?');">
                                <input type="submit" value="Log Back In" class="btn btn-link text-danger" />
                            </form>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
            </div>
        </div>
    </div>
    <partial name="_PagingNavBar" />

</form>