@model CAAMarketing.Models.Category

@{
    ViewData["Title"] = "Details";
}

<div class="detext">
    <div>
        <h4>details for <u>@Html.DisplayFor(model => model.Name)</u></h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LowCategoryThreshold)
            </dt>
            <dd class="col-sm-11">
                @Html.DisplayFor(model => model.LowCategoryThreshold)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" title="Click this to edit" asp-route-id="@Model.Id" class="padding-for-actions div-back">Edit </a> |
        <div class="tooltip"> <a asp-action="Index"> <img src="~/images/icons8-go-back-24.png" alt="Back Icon" /> <span class="tooltiptext">Back</span></a> </div>
    </div>
</div>
