@model IEnumerable<CAAMarketing.Models.Receiving>

@{
    ViewData["Title"] = "Index";
}

<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />

    <div class="form-horizontal">

        <button class="btn btn-success @(ViewData["Filtering"])" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" title="Click this to filter/search">
            <i class="material-icons">Filter/Search</i>
        </button>

        <div class="collapse" id="collapseFilter">
            <div class="card card-body">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label class="control-label">Select by Supplier:</label>
                        @Html.DropDownList("SupplierID", null, "All Suppliers", htmlAttributes: new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4">
                        <label class="control-label">Search Item Name OR UPC:</label>
                        @Html.TextBox("SearchString", null, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-4 align-self-end">
                        <input type="submit" title="Click this to filter" name="actionButton" value="Filter" class="btn btn-success" />
                        <a asp-action="Index" title="Click this to clear" class="btn btn-outline-dark">Clear</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title d-flex justify-content-between align-items-center">
                    <h2>Receive</h2>
                    <div class="col-xs-7">
                        @*<a asp-action="Create" title="Click this to create new receive" class="btn btn-primary">
                        <i class="material-icons">&#xE147;</i>
                        <span>Create a Receive</span>*@
                        </a>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>
                                <input type="submit" name="actionButton" value="Item" class="btn btn-link" title="Click this to sort" />
                            </th>
                            <th>
                                <input type="submit" name="actionButton" value="UPC" class="btn btn-link" title="Click this to sort" />
                               @* @Html.DisplayNameFor(model => model.Item.UPC)*@
                            </th>
                            <th>
                                <input type="submit" name="actionButton" value="Quantity" class="btn btn-link" title="Click this to sort" />
                            </th>
                            <th>
                                <input type="submit" name="actionButton" value="Cost" class="btn btn-link" title="Click this to sort" />
                               @* @Html.DisplayNameFor(model => model.Cost)*@
                            </th>
                            <th>
                                Received
                            </th>
                            @*                <th>
                            <input type="submit" name="actionButton" value="DateMade" class="btn btn-link" />
                            </th>
                            <th>
                            <input type="submit" name="actionButton" value="DeliveryDate" class="btn btn-link" />
                            </th>*@
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Item.Name)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Item.UPC)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quantity)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Cost)
                                </td>
                                <td>
                                    @{
                                        DateTime deliveryDate = Convert.ToDateTime(item.DeliveryDate);
                                        TimeSpan timeRemaining = deliveryDate - DateTime.Now;

                                        int totalDaysRemaining = (int)timeRemaining.TotalDays;
                                        int totalWeeksRemaining = (int)timeRemaining.TotalDays / 7;
                                        int totalMonthsRemaining = (int)timeRemaining.TotalDays / 30;
                                        int totalYearsRemaining = (int)timeRemaining.TotalDays / 365;
                                        int totalHoursRemaining = (int)timeRemaining.TotalHours;
                                        int totalMinutesRemaining = (int)timeRemaining.TotalMinutes;
                                        int totalSecondsRemaining = (int)timeRemaining.TotalSeconds;

                                        var progress = 100 - Math.Min(Math.Max(totalDaysRemaining, 0), 100);

                                        string remainingTime = string.Empty;

                                        if (totalYearsRemaining > 0)
                                        {
                                            remainingTime = $"{totalYearsRemaining} year{(totalYearsRemaining > 1 ? "s" : string.Empty)}";
                                            if (totalMonthsRemaining % 12 > 0)
                                            {
                                                remainingTime += $", {totalMonthsRemaining % 12} month{(totalMonthsRemaining % 12 > 1 ? "s" : string.Empty)}";
                                            }
                                        }
                                        else if (totalMonthsRemaining > 0)
                                        {
                                            remainingTime = $"{totalMonthsRemaining} month{(totalMonthsRemaining > 1 ? "s" : string.Empty)}";
                                            if (totalDaysRemaining % 30 > 0)
                                            {
                                                remainingTime += $", {totalDaysRemaining % 30} day{(totalDaysRemaining % 30 > 1 ? "s" : string.Empty)}";
                                            }
                                        }
                                        else if (totalWeeksRemaining > 0)
                                        {
                                            remainingTime = $"{totalWeeksRemaining} week{(totalWeeksRemaining > 1 ? "s" : string.Empty)}";
                                            if (totalDaysRemaining % 7 > 0)
                                            {
                                                remainingTime += $", {totalDaysRemaining % 7} day{(totalDaysRemaining % 7 > 1 ? "s" : string.Empty)}";
                                            }
                                        }
                                        else if (totalDaysRemaining > 0)
                                        {
                                            remainingTime = $"{totalDaysRemaining} day{(totalDaysRemaining > 1 ? "s" : string.Empty)}";
                                            if (totalHoursRemaining % 24 > 0)
                                            {
                                                remainingTime += $", {totalHoursRemaining % 24} hour{(totalHoursRemaining % 24 > 1 ? "s" : string.Empty)}";
                                            }
                                        }
                                        else if (totalHoursRemaining > 0)
                                        {
                                            remainingTime = $"{totalHoursRemaining} hour{(totalHoursRemaining > 1 ? "s" : string.Empty)}";
                                            if (totalMinutesRemaining % 60 > 0)
                                            {
                                                remainingTime += $", {totalMinutesRemaining % 60} minute{(totalMinutesRemaining % 60 > 1 ? "s" : string.Empty)}";
                                            }
                                        }
                                        else if (totalMinutesRemaining > 0)
                                        {
                                            remainingTime = $"{totalMinutesRemaining} minute{(totalMinutesRemaining > 1 ? "s" : string.Empty)}";
                                            if (totalSecondsRemaining % 60 > 0)
                                            {
                                                remainingTime += $", {totalSecondsRemaining % 60} second{(totalSecondsRemaining % 60 > 1 ? "s" : string.Empty)}";
                                            }
                                        }
                                    }

                                    <div class="progress">
                                        <div class="progress-bar @((deliveryDate > DateTime.Now) ? "bg-warning" : "bg-success")"
                                         role="progressbar"
                                         aria-valuenow="@progress"
                                         aria-valuemin="0"
                                         aria-valuemax="100"
                                         style="width: @progress%;">
                                            @if (deliveryDate > DateTime.Now)
                                            {
                                                @($"In Progress ({remainingTime} remaining)")
                                            }
                                            else
                                            {
                                                <span class="text-white">Received</span>
                                            }
                                        </div>
                                    </div>
                                </td>
                                @*                    <td>
                            @Html.DisplayFor(modelItem => item.DateMade)
                            </td>*@
                                @*                    <td>
                            @Html.DisplayFor(modelItem => item.DeliveryDate)
                            </td>*@

                                <td>
                                    <a asp-action="Edit" title="Click this to edit" class="padding-for-actions" asp-route-id="@item.ID">Edit </a> |
                                    <a asp-action="Details" title="Click this to go to details" class="padding-for-actions" asp-route-id="@item.ID">Details</a> |
                                   @* <a asp-action="Delete" title="Click this to delete" class="padding-for-actions" asp-route-id="@item.ID">Delete</a>*@
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <partial name="_PagingNavBar" />
</form>