@model IEnumerable<CAAMarketing.Models.Order>

@{
    ViewData["Title"] = "Index";
    CAAMarketing.Models.Item item = (CAAMarketing.Models.Item)ViewBag.Item;
}

<div class="detext-orderitem">
@*Note: Instead of figure, you can also use Cards for this layout
https://getbootstrap.com/docs/5.0/components/card/#horizontal*@
<figure class="row">
    <p class="col-auto">
        @{
                if (item.ItemThumbNail?.Content != null)
                {
                    string imageBase64 = Convert.ToBase64String(item.ItemThumbNail.Content);
                    string imageSrc = string.Format("data:" + item.ItemThumbNail.MimeType + ";base64,{0}", imageBase64);
                    <img src="@imageSrc" alt="Profile Picture of @item.Name" title="Item Picture of @item.Name" class="img-fluid rounded" />
                }
                else
                {
                    <img src="~/images/image-not-found .png" style="max-height: 200px; max-width: 200px" class="img-fluid rounded" />
                }
        }
    </p>
    <figcaption class="col mt-3"><h3><text class="d-none d-sm-inline">Item: </text>@item.Name</h3></figcaption>
</figure>

<div class="row">
    <div class="col-6">
        <dl class="row">
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => item.Name):
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => item.Name)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => item.Description):
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => item.Description)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => item.Notes):
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => item.Notes)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => item.Category):
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => item.Category.Name)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => item.UPC):
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => item.UPC)
          

        </dl>
    </div>
    <div class="col-6">
        <dl class="row">
              </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => item.Cost):
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => item.Cost)
                </dd>
                <dt class="col-sm-3">
                    @Html.DisplayNameFor(model => item.Quantity):
                </dt>
                <dd class="col-sm-9">
                    @Html.DisplayFor(model => item.Quantity)
                </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => item.DateReceived):
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => item.DateReceived)
            </dd>
            <dt class="col-sm-3">
                @Html.DisplayNameFor(model => item.Supplier):
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => item.Supplier.Name)
            </dd>
            <dt class="col-sm-3">
                Employee:
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => item.Employee.FullName)
            </dd>
            <dt class="col-sm-3">
                Last Modified By:
            </dt>
            <dd class="col-sm-9">
                @Html.DisplayFor(model => item.EmployeeNameUser)
            </dd>
            <dt class="col-md-3">
                @Html.DisplayNameFor(model => item.Archived)?
            </dt>
            <dd class="col-md-8">
                @{
                    if (item.Archived == true)
                    {
                        @:Yes
                    }
                    else
                    {
                        @:No
                    }
                }
            </dd>
        </dl>
    </div>
</div>
    <a asp-action="Edit" title="Click this to edit" asp-controller="Items" asp-route-id="@item.ID" class="padding-for-actions div-back">Edit </a> |
    <a href='@ViewData["returnURL"]' title="Click this to go to the Inventory List" class="padding-for-actions div-back">Back to Inventory List</a>
</div>


<form asp-action="Index" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />
    <input type="hidden" name="ItemID" value="@item.ID" />
    <div class="form-horizontal">
        <div class="form-horizontal">
        <div>
            
    <div class="container-fluid">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title d-flex justify-content-between align-items-center">
                    <h2>Receive item</h2>
                    <div class="col-xs-7">
                        @*<a asp-action="Create" title="Click this to create new receive" class="btn btn-primary">
                            <i class="material-icons">&#xE147;</i>
                            <span>Create a Receive</span>*@
                        </a>
                    </div>
                </div>
                <table class="table table-hover">
                <colgroup>
                    <col span="1" />
                    <col span="1" />
                    <col span="1" />
                    <col span="1" width="400" />
                    <col span="1" />
                </colgroup>
                <tr>
                        <th>
                            <input type="submit" name="actionButton" value="UPC" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" name="actionButton" value="Quantity" class="btn btn-link" />
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Cost)
                        </th>
                        <th>
                            <input type="submit" name="actionButton" value="DateMade" class="btn btn-link" />
                        </th>
                        <th>
                            <input type="submit" name="actionButton" value="DeliveryDate" class="btn btn-link" />
                        </th>
                    
                    <th>
                            <a asp-controller="OrderItems" asp-action="Add" asp-route-ItemID="@item.ID"
                                asp-route-PatientName="@item.Name">
                            <span class="btn btn-success" data-bs-toggle="tooltip"
                                  title="Add a receive"><strong>&#x271A; Add</strong></span>
                        </a>
                    </th>
                </tr>

                @foreach (var order in Model)
                {
                    <tr>
                            <td>
                                @Html.DisplayFor(modelItem => order.Item.UPC)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => order.Quantity)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => order.Cost)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => order.DateMade)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => order.DeliveryDate)
                            </td>
                        <td>
                            <a asp-controller="OrderItems" asp-action="Update" asp-route-id="@order.ID">
                                <span class="btn btn-sm btn-outline-primary" data-bs-toggle="tooltip" title="Edit a receive">&#x270D;</span>
                            </a>
                                <a asp-controller="OrderItems" asp-action="Remove" asp-route-id="@order.ID">
                                <span class="btn btn-sm btn-outline-danger" data-bs-toggle="tooltip" title="Delete a receive">&#x274C;</span>
                            </a>
                        </td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>
     </div>
        </div>
    </div>
    <partial name="_PagingNavBar" />
</form>

