@model IEnumerable<CAAMarketing.ViewModels.InventoryReportVM>

@{
    ViewData["Title"] = "InventoryLevelsReport";
}

<form asp-controller="Inventories" asp-action="InventoryLevelsReport" method="get">
    <input type="hidden" name="sortDirection" value="@ViewData["sortDirection"]" />
    <input type="hidden" name="sortField" value="@ViewData["sortField"]" />

    <div class="form-horizontal">
        <button class="btn btn-success @(ViewData["Filtering"])" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" title="Click this to filter/search">
            <i class="material-icons">Filter/Search</i>
        </button>
        <div class="btn btn-primary btn-color-Create">
            <div class="navbar-collapse nav-center collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle a-color" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Download Report
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a asp-action="DownloadInventory" title="Click this to download the inventory report" class="dropdown-item">
                                    Full Inventory
                                    @*<i class="material-icons">&#xE147;</i>*@
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a asp-action="DownloadInventoryLevels" title="Click this to download the inventory levels report" class="dropdown-item">
                                    Inventory Levels
                                    @*<i class="material-icons">&#xE147;</i>*@
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a asp-action="DownloadInventoryCosts" title="Click this to download the inventory costs report" class="dropdown-item">
                                    Inventory Costs
                                    @*<i class="material-icons">&#xE147;</i>*@
                                </a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a asp-action="DownloadInventoryEvents" title="Click this to download the inventory events report" class="dropdown-item">
                                    Inventory Events
                                    @*<i class="material-icons">&#xE147;</i>*@
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="btn btn-primary btn-color-Create">
            <div class="navbar-collapse nav-center collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle a-color" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            View Report
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li>
                                <a asp-controller="Inventories" asp-action="InventoryReport" class="dropdown-item">Full Inventory</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a asp-controller="Inventories" asp-action="InventoryLevelsReport" class="dropdown-item">Inventory Levels</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a asp-controller="Inventories" asp-action="InventoryCostsReport" class="dropdown-item">Inventory Costs</a>
                            </li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <a asp-controller="Inventories" asp-action="InventoryEventsReport" class="dropdown-item">Inventory Events</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="collapse" id="collapseFilter">
        <div class="card card-body">
            <div class="row">
                @*                <div class="form-group col-md-4">
                <label class="control-label">Filter by Locations: (Ctrl + click to multiselect)</label>
                @Html.ListBox("LocationID", null, htmlAttributes: new { @class = "form-control", @size = 8 })
                </div>*@
                <div class="form-group col-md-4">
                    <label class="control-label">Search Item Name OR UPC:</label>
                    @Html.TextBox("SearchString", null, new { @class = "form-control" })
                </div>
                <div class="form-group col-md-4 align-self-end">
                    <input type="submit" name="actionButton" value="Filter" title="click here to filter" class="btn btn-success" />
                    <a asp-action="InventoryLevelsReport" title="Click here to clear the filter" class="btn btn-outline-dark">Clear</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title d-flex justify-content-between align-items-center">
                    <h2>Inventory Levels Report</h2>
                    <a asp-action="DownloadInventoryLevels" title="Click this to downloead the inventory levels report" class="btn btn-primary btn-color-Create">
                        Download Report
                        @*<i class="material-icons">&#xE147;</i>*@
                    </a>
                </div>
            </div>
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        @* @Html.DisplayNameFor(model => model.UPC)*@
                        <input type="submit" name="actionButton" value="UPC" title="click here to sort by UPC" class="btn btn-link" />
                    </th>
                    <th>
                        @*  @Html.DisplayNameFor(model => model.ItemName)*@
                        <input type="submit" name="actionButton" value="ItemName" title="click here to sort by ItemName" class="btn btn-link" />
                    </th>
                    <th>
                        @*    @Html.DisplayNameFor(model => model.Quantity)*@
                        <input type="submit" name="actionButton" value="Quantity" title="click here to sort by Quantity" class="btn btn-link" />
                    </th>
                    <th>
                        @*  @Html.DisplayNameFor(model => model.Location)*@
                        <input type="submit" name="actionButton" value="Location" title="click here to sort by Location" class="btn btn-link" />
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UPC)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ItemName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Quantity)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Location)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <partial name="_PagingNavBar" />
</form>